APScheduler==3.7.0
click==8.0.1
colorama==0.4.4
cx-Oracle==8.2.1
et-xmlfile==1.1.0
Flask==2.0.1
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.3
openpyxl==3.0.7
pandas==1.2.4
psycopg2==2.8.6
pyodbc==4.0.30
python-dateutil==2.8.1
pytz==2021.1
pywin32==301
six==1.16.0
typing-extensions==3.10.0.0
tzlocal==2.1
waitress==2.0.0
Werkzeug==2.0.1
XlsxWriter==1.4.3
zipp==3.4.1
